
{% load i18n %}

<h4>
    <a class="btn btn-primary btn-sm" href="{% url 'afat:stats' year_prev %}" title='{% trans "Previous Month" %}'><i class="fas fa-backward"></i></a>

    <span class="afat-label-statistics">{{ year }}</span>

    {% if year_next <= year_current %}
        <a class="btn btn-primary btn-sm" href="{% url 'afat:stats' year_next %}" title='{% trans "Next Month" %}'><i class="fas fa-forward"></i></a>
        <a class="btn btn-primary btn-sm" href="{% url 'afat:stats' year_current %}" title='{% trans "Current Month" %}'><i class="fas fa-fast-forward"></i></a>
    {% endif %}
</h4>
