
{% load i18n %}

<div id="fatlinks" class="tab-pane fade panel panel-default">
    <div class="panel-body">
        <h4>{% translate "Most Recent FAT Links" %}</h4>

        <table class="table table-striped" id="dashboard-recent-fatlinks" style="width: 100%;">
            <thead>
                <tr>
                    <th>{% translate "Fleet Name" %}</th>
                    <th>{% translate "Fleet Type" %}</th>
                    <th>{% translate "Creator" %}</th>
                    <th>{% translate "EVE Time" %}</th>

                    {% if permissions.fatlinks.manipulate %}
                        <th>{% translate "Actions" %}</th>
                    {% endif %}
                </tr>
            </thead>

            <tbody></tbody>

            <tfoot>
                <tr>
                    <td colspan="{% if permissions.fats.manage %}5{% else %}4{% endif %}">
                        <p>
                            <span class="label label-success afat-label afat-label-via-esi afat-label-active-esi-fleet">via ESI</span> » Fleet is currently active and FATs are automatically being tracked via ESI<br>
                            <span class="label label-success afat-label afat-label-via-esi">via ESI</span> » FATs have been automatically tracked via ESI
                        </p>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
